<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body class="{{template}}">
    <!--
    <h1>Users</h1>
    <ul>
        {{#each users}}
        <li>ID: {{this.userId}}, Name: {{this.name}}, Date Created: {{this.dateCreated}}</li>
        {{/each}}
    </ul>
    -->
    <h1>Posts</h1>
    <ul>
        {{#each posts}}
            <h5>{{this.title}}</h5>
            Created by: {{this.user.name}}, Date Created: {{this.dateCreated}}<br>
            Content: {{this.content}}
        <hr>
        {{/each}}
    </ul>
</body>
</html>
