<!DOCTYPE html>
<html>
<body>
    <h1>{{post.title}}</h1>
    <h4>{{post.dateCreated}} ~ <a href="/user/{{post.user.userId}}">{{post.user.name}}</a></h4>
    <p>
        {{post.content}}
    </p>
</body>
</html>
